<main role="main" class="flex-grow-1 overflow-auto">
    <div class="container-fluid mt-5">
        <div class="form-row justify-content-sm-center">
            <div class="col-sm-auto my-2">This app uses data from <a class="about-link" href="https://ip-api.com/"
                    target="_new">ip-api</a>, <a class="about-link" href="https://www.mapbox.com/"
                    target="_new">mapbox</a> and
                <a class="about-link" href="https://www.weatherbit.io/" target="_new">Weatherbit.io</a>.</div>
        </div>
        <div class="form-row justify-content-sm-center">
            <div class="col-sm-auto my-2">
                Background images from <a class="about-link" href="https://unsplash.com/" target="_new">Unsplash</a>.
            </div>
        </div>
        <div class="form-row justify-content-sm-center">
            <div class="col-sm-auto my-2">
                Icons from <a class="about-link" href="https://www.flaticon.com/" target="_new">flaticon</a> and <a
                    class="about-link" href="https://fontawesome.com/" target="_new">Font Awesome</a>.
            </div>
        </div>
        <div class="form-row justify-content-sm-center mt-4">
            <div class="col-sm-auto my-2"><i class="fab fa-github"></i> <a class="about-link"
                    href="https://github.com/kayepar/node-weather-app-bootstrap"
                    target="_new">github.com/kayepar/node-weather-app-bootstrap</a></div>
        </div>
    </div>
</main>