<main role="main" class="flex-grow-1 overflow-auto">
    <div class="container-fluid mt-5">
        <div class="form-row justify-content-sm-center">
            <div class="col-lg-6 col-sm-auto my-2 text-justify">
                For the initial search, the app will attempt to get your location
                based on your IP address. Please note, though,
                that acccuracy depends entirely on how traffic is configured by your ISP or the AWS region for the Heroku Dynos.
            </div>
        </div>

        <div class="form-row justify-content-sm-center">
            <div class="col-lg-6 col-sm-auto my-2 text-justify">
                To get forecast for a specific location, type in the address in the
                space provided and click Search.
            </div>
        </div>

        <div class="form-row justify-content-sm-center">
            <div class="col-lg-6 col-sm-auto my-2 text-justify">
                To toggle between Celsius and Fahrenheight values, click on the symbols right next to the current
                temperature.
            </div>
        </div>

        <div class="form-row justify-content-sm-center mt-0">
            <div class="col-lg-6 col-sm-auto my-2 text-justify">
                <img src="/img/toggle-screenshot.png" class="screenshot-img">
            </div>
        </div>

        <div class="form-row justify-content-sm-center">
            <div class="col-lg-6 col-sm-auto my-2 text-justify">
                The background changes based on the current weather (clear sky, cloudy, overcast, foggy, light rain, rainy,
                thunderstorm, snowy) and time of day (daytime or nighttime).
            </div>
        </div>
    </div>
</main>