<div class="footer">
    <footer class="container-fluid flex-grow-0 flex-shrink-1">
        <div class="row">
            <div class="col"> © Copyright 2020 {{name}} </div>
        </div>
    </footer>
</div>